.c-btn-registro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-btn-registro img {
    width: 30px;
}

.c-input input {
    border-radius: 10px;
    background: #d6d6d6;
}
