.register-page {
    background: linear-gradient(
            0deg,
            rgba(0, 74, 173, 0.72),
            rgba(0, 74, 173, 0.72)
        ),
        url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light, normal;
    backdrop-filter: blur(7px);
}

.cadastro__tipo-usuario {
    text-align: center;
    width: 100%;
}

.input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label::after, .input-group:not(.has-validation)>.custom-select:not(:last-child), .input-group:not(.has-validation)>.form-control:not(:last-child) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.login-card-body .input-group .form-control, .register-card-body .input-group .form-control {
    border-right: none;
}

@media (min-width: 700px) {
    .register-box {
        width: 650px;
    }
}

